  </div>

  <footer class="row p-3 bg-dark text-light footer">
    <p class="col-sm-12 mb-0">Created By {{ name }}</p>
  </footer>
    
  <!-- jQuery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <!-- Popper JS CDN -->
  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS CDN -->
  <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>
  <!-- Main JS -->

  {{#if scriptPaths }}
    {{#each scriptPaths }}
    <script src="{{ this }}"></script>
    {{/each}}
  {{/if}}
</body>
</html>